* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}



h1 {
    background-color: darken(steelblue, 10%);
    color: #fff;
    padding: 1.25rem;
}

p {
    color: #555;
    line-height: 1.5;
}

img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.container {
    padding: 1rem;
    max-width: 900px;
    margin: 0 auto;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.item {
    padding: 1rem;
    background: #fff;
    color: #202020;
    border-radius: 5px;
    border: 1px solid #ccc;
    opacity: 0.9;
}

.item:hover {
    box-shadow: 1px 2px 3px 0px rgba(25, 25, 25, 0.6);
    opacity: 1;
    z-index: 1;
    transition: all 0.5s ease;
    transform: scale(1.3)
}

@media screen and (min-width: 600px) {
    .item {
        max-width: calc((100% - 32px) / 3);
    }
}